nav.navbar.navbar-default.navbar-fixed-top
  .nav-header
    a(href='https://cdn.jak.ninja/346-chambliss.jpeg' target='blank')
      img(src='https://cdn.jak.ninja/346-chambliss-headshot.jpg')
  button(
    type='button'
    class='navbar-toggle collapsed'
    data-toggle='collapse'
    data-target='#bs-navbar-collapse'
    aria-expanded='false'
  )
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  .collapse.navbar-collapse#bs-navbar-collapse
    ul.nav.navbar-nav.navbar-.center
      li
        a(
          href='#about'
          data-toggle='collapse'
          data-target='#bs-navbar-collapse'
        ) About
      li
        a(
          href='#skills'
          data-toggle='collapse'
          data-target='#bs-navbar-collapse'
        ) Skills
      li
        a(
          href='#work'
          data-toggle='collapse'
          data-target='#bs-navbar-collapse'
        ) Work
      li
        a(
          href='#experience'
          data-toggle='collapse'
          data-target='#bs-navbar-collapse'
        ) Experience